# Caching
redis

# Huggingface AI model pipeline packages
optimum-intel==1.12.2
nncf==2.7.0
optimum[openvino,nncf,onnxruntime]==1.16.1
transformers==4.36.2

# OpenVINO model optimizer
openvino==2023.2.0
